@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    width: 80vw;
    margin: 2vh auto;
    background-image: url(/src/assets/lavender-town.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Pixelify Sans', sans-serif;
    }

/* .loading {
    color: aliceblue;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-position: center;
} */

.error,
.loading {
    margin: 0 auto;
    border: 0.2rem solid rgb(41, 2, 41);
    border-radius: 1.5rem;
    background-color: gainsboro;
    opacity: .9;
    padding: 2vh;
    max-width: fit-content; 
    font-size: 24px;
}

.pokeball-img {
    height: 20vh;
    display: block;
    margin: 0 auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.heading {
    display: flex;
    justify-content: space-around;
    margin: 2vh auto;
    font-size: 20px;
    text-align: center;
    align-items: center;
}

.difficulty-settings {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vh;
    font-size: 20px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    gap: 2vw;
}

.game-settings {
    display: flex;
    flex-direction: column;
    border: 0.2rem solid rgb(41, 2, 41);
    border-radius: 1.5rem;
    background-color: gainsboro;
    opacity: .9;
    padding: 2vh;
}

.reset-button,
.difficulty-button {
    margin: 5vh auto;
    display: block;
    padding: 1vh;
    margin: 0 auto;
    border-radius: 1rem;
}

.active {
    border-color: red;
}

.scores {
    background-color: gainsboro;
    opacity: .9;
    padding: 2vh;
    border: .2rem solid rgb(41, 2, 41);
    border-radius: 1.5rem;
    height: fit-content;
}

/* .current-score, 
.high-score, */
.message {
    background-color: gainsboro;
    opacity: .9;
    padding: 2vh;
    border: .2rem solid rgb(41, 2, 41);
    border-radius: 1.5rem;
    height: fit-content;
    width: 20vw;
}

.pokemon-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    gap: 2vw;
}

.card {
    background-image: url(/src/assets/PokeBox.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: .2rem solid rgb(26, 1, 26);
    border-radius: 1.5rem;
}

.card:hover {
    /* box-shadow: 0 0 11px rgba(33, 33, 33, .2); */
    box-shadow: black 0px 3px 8px;
}

button {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
}

@media (max-width: 800px) {
    .heading {
        flex-direction: column;
    }
    
    .pokemon-cards {
        width: 100%;
    }

    .message {
        width: 100%;
    }
}