@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    width: 80vw;
    margin: 0 auto;
    background-image: url(src/assets/lavender-town.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Pixelify Sans', sans-serif;
}

.loading {
    /* background-image: url(https://cdn.dribbble.com/users/985548/screenshots/3419640/media/f0f2c122dabd324600b70de1d1108cdf.gif); */
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-position: center;
}

.pokeball-img {
    height: 20vh;
    display: block;
    margin: 0 auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.score {
    display: flex;
    justify-content: space-around;
    margin: 5vh auto;
    font-size: 20px;
    text-align: center;
}

.current-score, 
.high-score {
    background-color: gainsboro;
    opacity: .9;
    padding: 2vh;
    border: .2rem solid rgb(26, 1, 26);
    border-radius: 1.5rem
}

.pokemon-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40vw;
    margin: 0 auto;
    gap: 2vw;
}

.card {
    background-image: url(/src/assets/PokeBox.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: .2rem solid rgb(26, 1, 26);
    border-radius: 1.5rem
}

.reset-button {
    margin: 5vh auto;
    display: block;
    font-size: 20px;
    padding: 1vh;
    border-radius: 1rem;
    font-family: 'Pixelify Sans', sans-serif;
}

@media (max-width: 800px) {
    .pokemon-cards {
        width: 100%;
    }
}